{% extends "base.html" %}

{% block title %}Calculator{% endblock title %}

{% block page_content %}
<div class="regular">
    <h1 class="underline">Use the calculator!</h1>
    <form method="post" action="/calculator">
        <input type="number" step="0.01" name="number1">
        <input class="bold" id="operation_input" placeholder=" +  -  *  / " name="operation">
        <input type="number" step="0.01" name="number2">
        <button class="button" type="submit">Calculate!</button>
        <span>= {{result}}</span>
    </form>
</div>
{% endblock page_content %}