
{% extends "base.html" %}

{% block title %}Converter{% endblock title %}

{% block page_content %}

<div id="resgular">
    <h1 class="underline">Use the converter!</h1>
    <form method="post" action="/converter_to_miles">
        <h2 class="normaltext">Convert km into miles</h2>
        <input type="number" name="km">
        <button class="button" type="submit">Convert!</button>
        = {{miles}}
    </form>
    <form method="post" action="/converter_to_km">
        <h2 class="normaltext">Convert miles into km</h2>
        <input type="number" name="miles">
        <button class="button" type="submit">Convert!</button>
        = {{km}}
    </form>
</div>
{% endblock page_content %}