{% extends "base.html" %}

{% block title %}Guess the secret number{% endblock title %}

{% block page_content %}
<div class="regular">
    <h1 class="underline">Guess the secret number</h1>
    <form method="post" action="/guessthesecretnumber">
            <input type="number" name="guess" placeholder="Secret number">
    </form>
    <div id="result_text">{{result}}</div>
    <footer>
        <span class="rightfooter">
            {{time}}
        </span>
    </footer>
</div>
{% endblock page_content %}