<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
        <link type="text/css" rel="stylesheet" href="assets/style.css" />
    <link rel="stylesheet" type="text/css"
          href="https://fonts.googleapis.com/css?family=Tangerine">
    <title>Guess the secret number!</title>
</head>
<body>
    <h1 class="underline">Welcome to: Guess the secret number!</h1>
    <form method="post" action="/guessthesecretnumber">
            <input name="guess" placeholder="Secret number">
    </form>
    <div id="result_text">{{result}}</div>
    <footer>
        <span class="rightfooter">
            {{time}}
        </span>
    </footer>
</body>
</html>